node_modules

# temporary file or to be completed
src

#configuration file
*.json
server.js

#images
*.png

#temporary library 
/contracts/libs/Math.sol
/contracts/libs/SignedMath.sol
/contracts/libs/Strings.sol